#thread-header {
  display: grid;
  grid-auto-flow: column;
  background-color: #222;
  color: #FFF;
}

#create-search {
  display: flex;
  margin: 7px
}

#new-thread-name{
  margin: 0 20%;
  width: 50%;
}