.thread-item {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 2px 0;
}

.thread-item {
  p {
    &:hover {
      cursor: pointer;
      color: rgb(38, 38, 189);
      text-decoration: underline;
    }
  }
}

.delete {
  background-color: #555;
  margin: auto;
  width: auto;

  &:hover {
    background-color: red;
  }
}
